.wrapper{
  text-align: center;  
}
.nav{
  background: var(--grey-300);
  z-index: 9;
  font-size: 0.9rem;
  border-bottom: 6px solid var(--white);
}
.nav .flex .item{
  text-align: center;
  padding: 0;
  width: 20%;
}
.nav a{
  color: var(--black);
  text-decoration: none;
  display: block;
  padding: 6px;
  transition: 0.2s all;
  font-family: var(--sans);
  text-transform: uppercase;
  cursor: pointer;
}
.nav a:hover{color: var(--white);}
.nav li:nth-child(1) a:hover{ background: var(--black);}
.nav li:nth-child(2) a:hover{ background: var(--grey);}
.nav li:nth-child(3) a:hover{ background: var(--secondary);}
.nav li:nth-child(4) a:hover{ background: var(--primary);}
.nav li:nth-child(5) a:hover{ background: var(--highlight);}

.resting{
  opacity: 0;
  height: 0;
}
.belmu{
  max-width: 268px;
  margin-bottom: 1.3em;
  margin-top: 2em;
  height: auto;
}

.colourbox-sample{
  width: 100%;
  height: 6px;
}
.colourbox-name{
  margin-top: 7px;
}

p strong{
  background: var(--secondary);
  padding: 2px 6px;
  color: var(--white);
  display: inline-block;
  margin-top: 2em;
}