/* -- SVG Icons
   –––––––––––– */

/* Fill icons */
@each $icon in 
folder-fill,
dot, 
dots,
grid,
chain,
line-graph,
clock-o,
key,
power-off,
inbox,
list,
question-circle,
warning,
phone,
square,
caret-down,
caret-up,
sort,
desktop,
mobile,
mail-reply,
mail-reply-all,
dollar,
apple,
windows,
android,
linux,
file-pdf,
paper-plane,
sliders,
clone,
safari,
chrome,
firefox,
opera,
internet-explorer,
screen,
edge,
files,
arrow-left,
arrow-up,
arrow-down,
arrow-right,
printer,
tablet,
pencil,
mail,
bell,
clock,
heart,
search,
circle-cross,
square-plus,
square-minus,
square-check,
square-cross,
speech-bubble,
arrow-left-light,
arrow-right-light,
arrow-up-light,
arrow-down-light,
flag-wavey,
trash,
plus-light,
minus-light,
check-light,
cross-light,
reply-light,
reply-all-light,
download,
router,
menu,
atoms,
bank,
book,
circuit,
clock-detail,
cloning,
connectivity,
cube,
electric,
ethernet-socket,
fibre,
file-doc,
filofax,
flag,
handshake,
lightbulb,
list-custom,
marker,
megaphone,
mixer,
newspaper,
oracle,
placemarker,
plugin,
profile,
puzzle,
rescue,
security,
user,
save,
info,
vocus,
minus,
plus,
check,
cross,
logs,
edit,
monthly,
realtime,
chevron-down,
chevron-left,
chevron-right,
chevron-down-small,
chevron-left-small,
chevron-right-small,
chevron-up-small,
chevron-up,
pencil-detail,
info-circle,
elan,
vocus-communications{
  .icon-$(icon) {
    @mixin icon-fill $(icon);
    @nest .hover-white:hover &, &.white{
      @mixin icon-fill $(icon), #fff;
    }
    @nest .hover-cyan:hover &, &.cyan{
      @mixin icon-fill $(icon), #009fee;
    }
  }
}

/* Stroked icons */
@each $icon in 
baas,
business-continuity,
cloud-backup-restore,
cloud-backup,
cloud-collab,
cloud-compute,
cloud-connect,
cloud-disaster-recovery,
cloud,
colocation,
darkfibre,
data-centres,
data-networks,
ddos-protect,
enterprise-internet,
eoc,
ethernet-third-party,
ethernet,
faas,
folder,
internet-express,
internet,
ip-addresses,
ip-tel,
ip-transit,
ip-wan,
mpls,
multipoint-ethernet,
national-inbound-services,
nbn-connect,
nbn-network-connect,
nbn-reseller-connect,
pstn-isdn,
sip-trunks,
third-party-access,
uc-access,
unified-comms,
vocus-business-unlimited,
voice,
wave-length,
wholesale-access,
wholesale-voice{
  .icon-$(icon) {
    @mixin icon-stroke $(icon);
    @nest .hover-white:hover &, &.white{
      @mixin icon-stroke $(icon), #fff;
    }
    @nest .hover-cyan:hover &, &.cyan{
      @mixin icon-stroke $(icon), #009fee;
    }
  }
}

/* Multicolour icons */
@each $icon in 
innocent,
crack,
customers,
muppets{
  .icon-$(icon) {
    @mixin icon-multicolour $(icon);
  }
}

/*
@styleguide

@title Module Icons

<p class="small cyan">Click an icon to copy the html to your clipboard</p>

<p class="small">Fill icons:</p>
<i class="icon-folder-fill copyable"></i>
<i class="icon-dot copyable"></i> 
<i class="icon-dots copyable"></i> 
<i class="icon-grid copyable"></i>
<i class="icon-chain copyable"></i>
<i class="icon-line-graph copyable"></i>
<i class="icon-clock-o copyable"></i>
<i class="icon-key copyable"></i>
<i class="icon-power-off copyable"></i>
<i class="icon-inbox copyable"></i>
<i class="icon-list copyable"></i>
<i class="icon-question-circle copyable"></i>
<i class="icon-warning copyable"></i>
<i class="icon-phone copyable"></i>
<i class="icon-square copyable"></i>
<i class="icon-caret-down copyable"></i>
<i class="icon-caret-up copyable"></i>
<i class="icon-sort copyable"></i>
<i class="icon-desktop copyable"></i>
<i class="icon-mobile copyable"></i>
<i class="icon-mail-reply copyable"></i>
<i class="icon-mail-reply-all copyable"></i>
<i class="icon-dollar copyable"></i>
<i class="icon-apple copyable"></i>
<i class="icon-windows copyable"></i>
<i class="icon-android copyable"></i>
<i class="icon-linux copyable"></i>
<i class="icon-file-pdf copyable"></i>
<i class="icon-paper-plane copyable"></i>
<i class="icon-sliders copyable"></i>
<i class="icon-clone copyable"></i>
<i class="icon-safari copyable"></i>
<i class="icon-chrome copyable"></i>
<i class="icon-firefox copyable"></i>
<i class="icon-opera copyable"></i>
<i class="icon-internet-explorer copyable"></i>
<i class="icon-screen copyable"></i>
<i class="icon-edge copyable"></i>
<i class="icon-files copyable"></i>
<i class="icon-arrow-left copyable"></i>
<i class="icon-arrow-up copyable"></i>
<i class="icon-arrow-down copyable"></i>
<i class="icon-arrow-right copyable"></i>
<i class="icon-printer copyable"></i>
<i class="icon-tablet copyable"></i>
<i class="icon-pencil copyable"></i>
<i class="icon-mail copyable"></i>
<i class="icon-bell copyable"></i>
<i class="icon-clock copyable"></i>
<i class="icon-heart copyable"></i>
<i class="icon-search copyable"></i>
<i class="icon-circle-cross copyable"></i>
<i class="icon-square-plus copyable"></i>
<i class="icon-square-minus copyable"></i>
<i class="icon-square-check copyable"></i>
<i class="icon-square-cross copyable"></i>
<i class="icon-speech-bubble copyable"></i>
<i class="icon-arrow-left-light copyable"></i>
<i class="icon-arrow-right-light copyable"></i>
<i class="icon-arrow-up-light copyable"></i>
<i class="icon-arrow-down-light copyable"></i>
<i class="icon-flag-wavey copyable"></i>
<i class="icon-trash copyable"></i>
<i class="icon-plus-light copyable"></i>
<i class="icon-minus-light copyable"></i>
<i class="icon-check-light copyable"></i>
<i class="icon-cross-light copyable"></i>
<i class="icon-reply-light copyable"></i>
<i class="icon-reply-all-light copyable"></i>
<i class="icon-download copyable"></i>
<i class="icon-router copyable"></i>
<i class="icon-menu copyable"></i>
<i class="icon-atoms copyable"></i>
<i class="icon-bank copyable"></i>
<i class="icon-book copyable"></i>
<i class="icon-circuit copyable"></i>
<i class="icon-clock-detail copyable"></i>
<i class="icon-cloning copyable"></i>
<i class="icon-connectivity copyable"></i>
<i class="icon-cube copyable"></i>
<i class="icon-electric copyable"></i>
<i class="icon-ethernet-socket copyable"></i>
<i class="icon-fibre copyable"></i>
<i class="icon-file-doc copyable"></i>
<i class="icon-filofax copyable"></i>
<i class="icon-flag copyable"></i>
<i class="icon-handshake copyable"></i>
<i class="icon-lightbulb copyable"></i>
<i class="icon-list-custom copyable"></i>
<i class="icon-marker copyable"></i>
<i class="icon-megaphone copyable"></i>
<i class="icon-mixer copyable"></i>
<i class="icon-newspaper copyable"></i>
<i class="icon-oracle copyable"></i>
<i class="icon-placemarker copyable"></i>
<i class="icon-plugin copyable"></i>
<i class="icon-profile copyable"></i>
<i class="icon-puzzle copyable"></i>
<i class="icon-rescue copyable"></i>
<i class="icon-security copyable"></i>
<i class="icon-user copyable"></i>
<i class="icon-save copyable"></i>
<i class="icon-info copyable"></i>
<i class="icon-vocus copyable"></i>
<i class="icon-minus copyable"></i>
<i class="icon-plus copyable"></i>
<i class="icon-check copyable"></i>
<i class="icon-cross copyable"></i>
<i class="icon-logs copyable"></i>
<i class="icon-edit copyable"></i>
<i class="icon-monthly copyable"></i>
<i class="icon-realtime copyable"></i>
<i class="icon-chevron-down copyable"></i>
<i class="icon-chevron-left copyable"></i>
<i class="icon-chevron-right copyable"></i>
<i class="icon-chevron-down-small copyable"></i>
<i class="icon-chevron-left-small copyable"></i>
<i class="icon-chevron-right-small copyable"></i>
<i class="icon-chevron-up-small copyable"></i>
<i class="icon-chevron-up copyable"></i>
<i class="icon-pencil-detail copyable"></i>
<i class="icon-info-circle copyable"></i>
<i class="icon-elan copyable"></i>
<i class="icon-folder copyable"></i>
<i class="icon-vocus-communications copyable"></i>

<p class="small">Stroke icons:</p>
<i class="icon-baas copyable h1"></i>
<i class="icon-business-continuity copyable cyan h1"></i>
<i class="icon-cloud-backup-restore copyable cyan h1"></i>
<i class="icon-cloud-backup copyable cyan h1"></i>
<i class="icon-cloud-collab copyable cyan h1"></i>
<i class="icon-cloud-compute copyable cyan h1"></i>
<i class="icon-cloud-connect copyable cyan h1"></i>
<i class="icon-cloud-disaster-recovery copyable cyan h1"></i>
<i class="icon-cloud copyable cyan h1"></i>
<i class="icon-colocation copyable cyan h1"></i>
<i class="icon-darkfibre copyable cyan h1"></i>
<i class="icon-data-centres copyable cyan h1"></i>
<i class="icon-data-networks copyable cyan h1"></i>
<i class="icon-ddos-protect copyable cyan h1"></i>
<i class="icon-enterprise-internet copyable cyan h1"></i>
<i class="icon-eoc copyable cyan h1"></i>
<i class="icon-ethernet-third-party copyable cyan h1"></i>
<i class="icon-ethernet copyable cyan h1"></i>
<i class="icon-faas copyable cyan h1"></i>
<i class="icon-internet-express copyable cyan h1"></i>
<i class="icon-internet copyable cyan h1"></i>
<i class="icon-ip-addresses copyable cyan h1"></i>
<i class="icon-ip-tel copyable cyan h1"></i>
<i class="icon-ip-transit copyable cyan h1"></i>
<i class="icon-ip-wan copyable cyan h1"></i>
<i class="icon-mpls copyable cyan h1"></i>
<i class="icon-multipoint-ethernet copyable cyan h1"></i>
<i class="icon-national-inbound-services copyable cyan h1"></i>
<i class="icon-nbn-connect copyable cyan h1"></i>
<i class="icon-nbn-network-connect copyable cyan h1"></i>
<i class="icon-nbn-reseller-connect copyable cyan h1"></i>
<i class="icon-pstn-isdn copyable cyan h1"></i>
<i class="icon-sip-trunks copyable cyan h1"></i>
<i class="icon-third-party-access copyable cyan h1"></i>
<i class="icon-uc-access copyable cyan h1"></i>
<i class="icon-unified-comms copyable cyan h1"></i>
<i class="icon-vocus-business-unlimited copyable cyan h1"></i>
<i class="icon-voice copyable cyan h1"></i>
<i class="icon-wave-length copyable cyan h1"></i>
<i class="icon-wholesale-access copyable cyan h1"></i>
<i class="icon-wholesale-voice copyable cyan h1"></i>

<p class="small">Multicolour icons:</p>
<i class="icon-innocent jumbo copyable"></i>
<i class="icon-crack jumbo copyable"></i>
<i class="icon-customers jumbo copyable"></i>
<i class="icon-muppets jumbo copyable"></i>

*/


/* How to join SVG files into one */
/* 

  svgo -f svg
  svg-join -s "svg/*.svg" -o -n sprites 

*/