/* -- Triangles
   –––––––––––– */
   
/* todo: make this work 
@define-mixin tirangle, $direction, $colour: var(--navy){
  border-radius: 2rem;
  &:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -10px;
    display: block;
    border: 5px solid $colour;
    border-color:  transparent $colour transparent transparent;
  }
}*/

@define-mixin carrat-left, $colour: var(--navy){
  border-radius: 2rem;
  &:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -10px;
    display: block;
    border: 5px solid $colour;
    border-color:  transparent $colour transparent transparent;
  }
}

@define-mixin carrat-bottom, $colour: var(--navy){
  border-radius: 2rem;
  &:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 47%;
    display: block;
    border: 5px solid $colour;
    border-color:  $colour transparent transparent transparent;
  }
}