/* Text classes
   –––––––––––– */

/* FONT WEIGHTS */
.-lightweight{
  font-weight: 300;
}
.-bookweight{
  font-weight: 500;
}
.-heavyweight{
  font-weight: 600;
}
.-boldweight{
  font-weight: 700;
}
.-extraboldweight{
  font-weight: 800;
}
.-upcase{
  text-transform: uppercase;
}
.-nocase{
  text-transform: none;
}
.-lineheight-1{
  line-height: 1em;
}
.-lineheight-1-2{
  line-height: 1.2em;
}
.-lineheight-1-3{
  line-height: 1.3em;
}
.-lineheight-1-4{
  line-height: 1.4em;
}
.-lineheight-1-5{
  line-height: 1.5rem;
}

.-text-left{
  text-align: left;
}
.-text-center{
  text-align: center;
}
.-text-right{
  text-align: right;
}