.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.swp
*.log
node_modules
.sass-cache
packages/*
src/img/sprites-stroked.css
src/img/sprites-stroked.svg
src/img/sprites.css
src/img/sprites.svg
public/*
Barebones
yarn.lock
.sapper