/* -- Typesizes
   –––––––––––– */
.-rem-3 {
  font-size: 3rem;
}
.-rem-2 {
  font-size: 2rem;
}
.-rem-1-75 {
  font-size: 1.75rem;
}
.-rem-1-5 {
  font-size: 1.5rem;
}
.-rem-1-2 {
  font-size: 1.2rem;
}
.-rem-1 {
  font-size: 1rem;
}
.-rem-09 {
  font-size: 0.9rem;
}
.-rem-085 {
  font-size: 0.85rem;
}
.-rem-08 {
  font-size: 0.8rem;
}
.-rem-075 {
  font-size: 0.7rem;
}
.-rem-07 {
  font-size: 0.7rem;
}
.-rem-06 {
  font-size: 0.6rem;
}