/* -- Colours
   –––––––––– */

.-white                         { color: var(--white);              }
.-secondary                     { color: var(--secondary);          }
.-highlight                     { color: var(-highlight);           }
.-bg-primary                    { background: var(--primary);       }
.-bg-secondary                  { background: var(--secondary);     }
.-bg-highlight                  { background: var(--highlight);     }
.-bg-white                      { background: var(--white);         }
.-bg-grey                       { background: var(--grey);          }
.-bg-grey-100                   { background: var(--grey-100);      }
.-bg-grey-200                   { background: var(--grey-200);      }
.-bg-grey-300                   { background: var(--grey-300);      }
.-bg-grey-500                   { background: var(--grey-500);      }
.-bg-grey-900                   { background: var(--grey-900);      }

/*
@styleguide

@title Utility
<h1 class="-upcase">
Utility
</h1>
All Utility classes go here.
<p>Where are my Utilities? </p>
*/