/*---
section: Module 
---

CSS for your Modules/Molecules live here, What is a molecule in css? - check out Brad Frost's pattern lab (http://patternlab.io/)
<div class="grid">
  <div class="col">
    <Switch on:switched='set({ inAgreement: true })'/>
  </div>
  <div class="col">
    <Switch on:switched='set({ inAgreement: true })'/>
  </div>
  <div class="col">
    <Switch on:switched='set({ inAgreement: true })'/>
  </div>
  <div class="col">
    <Switch on:switched='set({ inAgreement: true })'/>
  </div>
</div>
*/

