/*---
section: Module 
---

I can write and include documentation for my modules right here in the comfort of CSS!
<div class="grid">
  <div class="col">
    <Switch on:switched='set({ inAgreement: true })'/>
  </div>
  <div class="col">
    <Switch on:switched='set({ inAgreement: true })'/>
  </div>
  <div class="col">
    <Switch on:switched='set({ inAgreement: true })'/>
  </div>
  <div class="col">
    <Switch on:switched='set({ inAgreement: true })'/>
  </div>
</div>

<Svg icon='search' color='#fff' hovercolor="pink"/>
<Svg icon='copy' color='#ff0000'/>
<Svg icon='add' color='#fff'/>
<Svg icon='share' color='#fff'/>
<Svg icon='info' color='#fff'/>
*/

