/* BUTTON Module
   –––––––––––––
   written by:
   tim.clulow@vocus.co.nz */

@import '_base.colours.css';
@import '_base.sizes.css';
@import '_base.states.css';

.o-button{
  font-weight: var(--boldweight);
  text-align: center;
  
  color: var(--white);
  background-color: var(--primary);

  border: 0;
  outline: 0 !important;
  border-radius: 0.5em;
  border: 1px solid rgba(0,0,0,0.07);
  border-bottom-width: 2px;
  width: 100%;

  position: relative;
  overflow: hidden;

  transition: var(--transition-all);
  cursor: pointer;
  
}

  .o-button:hover { border-color: rgba(0,0,0,0.23); }
  .o-button:focus { outline: none;                  }

  .o-button.col{
    align-items: center;
    align-self: center;
  }

  .o-button.rounded{
    border-radius: 0.2em;
  }

  .o-button .loader{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--white-300a)
  }

  .o-button .text{
    margin: auto;
    letter-spacing: -0.02em;
  }

  /* RESPONSIVE 
  .o-button:container(width <= 9em){
    padding: 0.5em;
  }
  .o-button:container(width <= 9em) .text{
    padding: 5px 5px 0;
    white-space: normal;
    font-size: 0.67rem;
  }*/

  /* SHAME */
  o-button.col{
    align-self: center !important;
  }

/*
@styleguide

@title Module Buttons
<div class="grid mq-small-full">
<button class="o-button col rounded tiny"><span class="text">I'm a tiny button</span></button>
<button class="o-button col rounded small"><span class="text">I'm a small button</span></button>
<button class="o-button col rounded medium"><span class="text">I'm a medium button</span></button>
<button class="o-button col rounded large"><span class="text">I'm a large button</span></button>
</div>
<div class="grid mq-small-full">
<button class="o-button col rounded tiny loud"><span class="text">I'm a loud tiny button</span></button>
<button class="o-button col rounded small loud"><span class="text">I'm a loud small button</span></button>
<button class="o-button col rounded medium loud"><span class="text">I'm a loud medium button</span></button>
<button class="o-button col rounded large loud"><span class="text">I'm a loud large button</span></button>
</div>
<div class="grid mq-small-full">
<button class="o-button col rounded tiny mid"><span class="text">I'm a mid tiny button</span></button>
<button class="o-button col rounded small mid"><span class="text">I'm a mid small button</span></button>
<button class="o-button col rounded medium mid"><span class="text">I'm a mid medium button</span></button>
<button class="o-button col rounded large mid"><span class="text">I'm a mid large button</span></button>
</div>
<div class="grid mq-small-full">
<button class="o-button col rounded tiny muted"><span class="text">I'm a muted tiny button</span></button>
<button class="o-button col rounded small muted"><span class="text">I'm a muted small button</span></button>
<button class="o-button col rounded medium muted"><span class="text">I'm a muted medium button</span></button>
<button class="o-button col rounded large muted"><span class="text">I'm a muted large button</span></button>
</div>
<p>There are different states:</p>
<div class="grid mq-small-full">
<button class="o-button col rounded danger medium"><span class="text">Danger</span></button>
<button class="o-button col rounded success medium"><span class="text">Success</span></button>
</div>
<p>And buttons that animate:</p>
<div class="grid mq-small-full">
<button class="o-button col rounded medium dark">
  <span class="text">Meep</span>
  <span class="loader"></span>
</button>
<button class="o-button col rounded medium">
  <span class="text">Moop</span>
  <span class="loader"></span>
</button>
</div>
*/