/* -- Inputs
   ––––––––– */

.input{
  font-family: var(--bookweight);
  font-size: var(--rem-1);

  color: var(--grey-100);
  background: var(--grey-300);

  border-radius: var(--border-radius);
  border: 0;
  padding: calc( var(--spacing) * 0.6666666 ) var(--spacing);
 
  transition: var(--transition-all);
}
.input:focus{
  outline: none;
}
.input:hover{
  background: var(--grey-100);
}
.disabled .input{
  pointer-events: none;
  opacity: 0.3;
}

