/* -- Colours (HSL Colours are good)
   ––––––––––––––––––––––––––––––––– */

:root{
  --core-white:           0, 100%;
  --core-black:           0, 0%;
  --core-grey:            220, 2%;
  --core-secondary:       65, 77%;
  --core-primary:         200, 48%;
  --core-highlight:       349, 57%;

  --white:                hsl( var(--core-white),     100% );
  --black:                hsl( var(--core-black),     0%   );

  --secondary:	          hsl( var(--core-secondary),      46%  );
  --primary:	            hsl( var(--core-primary),      53%  );
  --highlight:			      hsl( var(--core-highlight),      58%  );

  --grey:			            hsl( var(--core-grey),      28%  );
  --grey-900:	            hsl( var(--core-grey),      30%  );
  --grey-800:	            hsl( var(--core-grey),      40%  );
  --grey-700:			        hsl( var(--core-grey),      50%  );
  --grey-600:			        hsl( var(--core-grey),      60%  );
  --grey-500:			        hsl( var(--core-grey),      70%  );
  --grey-400:			        hsl( var(--core-grey),      80%  );
  --grey-300:			        hsl( var(--core-grey),      90%  );
  --grey-200:			        hsl( var(--core-grey),      95%  );
  --grey-100:			        hsl( var(--core-grey),      98%  );

  --black:			          hsl( var(--core-black),     0%   );
  --black-900:	          hsl( var(--core-black),     10%  );
  --black-800:	          hsl( var(--core-black),     20%  );
  --black-700:			      hsl( var(--core-black),     30%  );
  --black-600:			      hsl( var(--core-black),     40%  );
  --black-500:			      hsl( var(--core-black),     50%  );
  --black-400:			      hsl( var(--core-black),     60%  );
  --black-300:			      hsl( var(--core-black),     70%  );
  --black-200:			      hsl( var(--core-black),     80%  );
  --black-100:			      hsl( var(--core-black),     90%  );

  --black-900a:           hsla( var(--core-black), 0%, 0.9 );
  --black-800a:           hsla( var(--core-black), 0%, 0.8 );
  --black-700a:           hsla( var(--core-black), 0%, 0.7 );
  --black-600a:           hsla( var(--core-black), 0%, 0.6 );
  --black-500a:           hsla( var(--core-black), 0%, 0.5 );
  --black-400a:           hsla( var(--core-black), 0%, 0.4 );
  --black-300a:           hsla( var(--core-black), 0%, 0.3 );
  --black-200a:           hsla( var(--core-black), 0%, 0.2 );
  --black-100a:           hsla( var(--core-black), 0%, 0.1 );
  
  --white-900a:           hsla( var(--core-white), 100%, 0.9 );
  --white-800a:           hsla( var(--core-white), 100%, 0.8 );
  --white-700a:           hsla( var(--core-white), 100%, 0.7 );
  --white-600a:           hsla( var(--core-white), 100%, 0.6 );
  --white-500a:           hsla( var(--core-white), 100%, 0.5 );
  --white-400a:           hsla( var(--core-white), 100%, 0.4 );
  --white-300a:           hsla( var(--core-white), 100%, 0.3 );
  --white-200a:           hsla( var(--core-white), 100%, 0.2 );
  --white-100a:           hsla( var(--core-white), 100%, 0.1 );

  --secondary-900:	      hsl( var(--core-secondary),      20%  );
  --secondary-800:	      hsl( var(--core-secondary),      30%  );
  --secondary-700:			  hsl( var(--core-secondary),      40%  );
  --secondary-600:			  hsl( var(--core-secondary),      50%  );
  --secondary-500:			  hsl( var(--core-secondary),      60%  );
  --secondary-400:			  hsl( var(--core-secondary),      70%  );
  --secondary-300:			  hsl( var(--core-secondary),      80%  );
  --secondary-200:			  hsl( var(--core-secondary),      90%  );
  --secondary-100:			  hsl( var(--core-secondary),      95%  );

  --primary-900:	        hsl( var(--core-primary),      50%  );
  --primary-800:	        hsl( var(--core-primary),      55%  );
  --primary-700:			    hsl( var(--core-primary),      60%  );
  --primary-600:			    hsl( var(--core-primary),      65%  );
  --primary-500:			    hsl( var(--core-primary),      70%  );
  --primary-400:			    hsl( var(--core-primary),      75%  );
  --primary-300:			    hsl( var(--core-primary),      80%  );
  --primary-200:			    hsl( var(--core-primary),      85%  );
  --primary-100:			    hsl( var(--core-primary),      90%  );

  --highlight-900:	      hsl( var(--core-highlight),      32%  );
  --highlight-800:	      hsl( var(--core-highlight),      40%  );
  --highlight-700:			  hsl( var(--core-highlight),      48%  );
  --highlight-600:			  hsl( var(--core-highlight),      56%  );
  --highlight-500:			  hsl( var(--core-highlight),      62%  );
  --highlight-400:			  hsl( var(--core-highlight),      70%  );
  --highlight-300:			  hsl( var(--core-highlight),      78%  );
  --highlight-200:			  hsl( var(--core-highlight),      86%  );
  --highlight-100:			  hsl( var(--core-highlight),      92%  );

  --borders-dark:   hsla(var(--black), 0.1);
  --borders-light:  hsla(var(--white), 0.1);

  /* FILTERS (Experimental) */
  --filterwhite: grayscale(100%) brightness(10);
}

/*Post-css styleguide starts================================================*/

/* TODO: figure out how to set colour pallette options without outputting to code */
/* @start color */
.----colours { 
  black:		      #131834;
  white:	        #093f78;
  grey:	          #9C9C9C;
  secondary:			      #BFCE1B;
  primary:	          #4D9BC1;
  highlight:		        #D1566D;

  grey:			      #9C9C9C;
  grey-500:	      #b2b2b2;
  grey-300:	      #d9d9dc;
  grey-100:			  #f7f7f7;
} 
/* @end color */