/* -- Typography
   ––––––––––––– */

:root{
  --slab: 'Zilla Slab', Serif;
  --bookweight: 500;
  --heavyweight: 600;
  --boldweight: 700;
  --extraboldweight: 800;

  /* Font size helpers */
  --rem-h1: 2rem;
  --rem-1: 1rem;
  --rem-1-2: 1.2rem;
  --rem-09: 0.9rem;
  --rem-085: 0.85rem;
  --rem-08: 0.8rem;
  --rem-075: 0.7rem;
  --rem-07: 0.7rem;
  --rem-06: 0.6rem;
}

body{
  font-family: var(--slab);
  font-weight: var(--bookweight);
}

h1, h2, h3, h4, h5, h6{
  font-weight: var(--boldweight);
  color: var(--black);
  margin-bottom: var(--spacing);
}

p{
  margin: var(--spacing) 0;
}

h1{
  font-size: var(--rem-h1);
}

h2{
  font-size: var(--rem-1-2);
}

h3{
  font-size: var(--rem-1);
}

h4{
  font-size: var(--rem-08);
}

h5{
  font-size: var(--rem-07);
}

h6{
  font-size: var(--rem-07);
}

p{
  font-family: var(--slab);
  font-weight: var(--bookweight);
}

label{
  display: block;
  font-family: var(--slab);
  font-weight: var(--heavyweight);
  font-size: var(--rem-08);
  color: var(--black);
  margin-bottom: calc(var(--spacing) * 0.5 );
}

/* icons */
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-repeat: no-repeat;
}