<div class='demo'>
	<Scroller
		{top}
		{threshold}
		{bottom}
		bind:count
		bind:index
		bind:offset
		bind:progress
	>
		<div slot="background">
			<p>current section: <strong>{index + 1}/{count}</strong></p>
			<progress value="{count ? (index + 1) / count : 0}"></progress>

			<p>offset in current section</p>
			<progress value={offset || 0}></progress>

			<p>total progress</p>
			<progress value={progress || 0}></progress>
		</div>

		<div slot="foreground">
			<section>section 1</section>
			<section>section 2</section>
			<section>section 3</section>
			<section>section 4</section>
			<section>section 5</section>
		</div>
	</Scroller>

</div>

<script>
	import Scroller from '@sveltejs/svelte-scroller';
	
	export default {
    data(){
      return{
        // you can drag the markers in the right rail
        top: 0.2,
        threshold: 0.5,
        bottom: 0.8
      }
    },
		components: {
			Scroller
		}
	};
</script>