<svg class="icon" width={width} height={height} on:mouseenter="set({color: hovercolor, hovering: true})" on:mouseleave="set({color: startcolor, hovering: false})">
  <use xlink:href="/client/sprite.svg#{icon}" style="fill: {hovering ? hovercolor : color}"  ref:svg/>
</svg>

<script>

import '../img/icons/add.svg';
import '../img/icons/copy.svg';
import '../img/icons/info.svg';
import '../img/icons/search.svg';
import '../img/icons/share.svg';

export default {
  preload() {
    //should go in here ideally
    //console.log(GLYPHS);
  },
  oncreate(){
    
  },
  data() {
    return {
      width: '32px',
      height: '32px',
      startcolor: '#fff',
      css: '', 
      hovering: false,
      hovercolor: 'yellow'
    }
  }
};
</script>


<style>
ref:svg{
  transition: 1s all;
}
</style>