<div role="switch" aria-checked="true" class="-text-center -d-block -m-auto -m-top-half switch is-{check}" ref:switch>
  <input type='checkbox' on:click='letsGo()' >
  <span class="switch--core"></span>
</div>

<script>
export default {
	methods: {
		letsGo() {
      let _self = this;
      const { check } = this.get();
      const { state } = this.get();
      _self.set({
        check: check === true ? false : true,
      });
    
      if(check == true){
        window.clearTimeout(_self.startFade);
        window.clearTimeout(_self.startSwitch);
        _self.root.set({
          state: ''
        });
      }else{
        _self.startFade = window.setTimeout(function(){
        _self.root.set({
            state: 'fading'
          });
        },250);

        _self.startSwitch = window.setTimeout(function(){
          _self.fire('switched');
        },700);
      }
    }
	}
};
</script>

<style>
ref:switch{
  --size: 30px;
  --radius: 10em;
}
.switch{
	align-items: center;
	position: relative;
	font-size: 14px;
	line-height: var(--size);
	height: var(--size);
	vertical-align: middle;
}
.switch--core{
	margin: 0;
	display: inline-block;
	position: relative;
	width: calc(var(--size) * 2);
	height: var(--size);
	outline: none;
	border-radius: var(--radius);
	box-sizing: border-box;
	background: var(--grey-400);
	cursor: pointer;
	transition: border-color .3s,background-color .3s;
	vertical-align: middle;
}
.switch:hover .switch--core{
  background: var(--grey);
}
.switch:hover .switch--core:after{
  box-shadow: 2px 1px 3px var(--grey-900);
}

.switch.is-true .switch--core{
	background: var(--grey-900);
}
.switch.is-true .switch--core:after {
    left: 100%;
    margin-left: calc(var(--size) * -0.9);
}
.switch--core:after {
    content: "";
    position: absolute;
    top: calc(var(--size) * 0.09);
    left: calc(var(--size) * 0.1);
    border-radius: 100%;
    transition: all .3s;
    width: calc(var(--size) * 0.8);
    height: calc(var(--size) * 0.8);
    background-color: #fff;
}
.switch input{
	border: none;
	position: absolute;
	height: calc(var(--size) * 1.44);
	margin: 0;
	width: 100%;
	left: 0;
	top: 0;
	background: none;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
}
</style>
  