/* MESSAGING Progress
   ––––––––––––––––––
   written by:
   tim.clulow@vocus.co.nz */

.o-progress{
  height: 4px;
  position: relative;
  background: var(--secondary);
  transition: var(--transition-all);
}
.o-progress:hover{
  background: var(--primary);
}

/* SHAME */
o-progress .helpertext{
  bottom: 250%;
}