/* -- BUTTON Colours
   ––––––––––––––––– */

.o-button:hover           { background: hsl( var(--core-primary), 70%);     }
.o-button.loud            { background: var(--highlight);                   }
.o-button.white           { background: var(--white);                       }
.o-button.white .text     { color: var(--black);                            }
.o-button.white:hover     { background: var(--grey-300);                    }
.o-button.loud:hover      { background: hsl( var(--core-highlight), 80%);   }
.o-button.muted           { background: var(--grey);                    }
.o-button.muted:hover     { background: hsl( var(--core-grey), 80%);        }
.o-button.mid             { background: var(--secondary);                        }
.o-button.mid:hover       { background: hsl( var(--core-secondary), 43%);   }
.o-button.success         { background: var(--secondary);                        }
.o-button.success:hover   { background: hsl(var(--core-secondary), 45%);    }
.o-button.danger          { background: var(--highlight);                   }
.o-button.danger:hover    { background: hsl( var(--core-highlight), 77%);   }
.o-button.dark            { background: var(--black);                       }
.o-button.dark:hover      { background: var(--primary);                     }

.borderless{
  border: 0 !important;
  padding: 8px !important;
}

.boxshadow{
  box-shadow: 1px 0px rgba(0,0,0,0.1);
}

.bg-greyblue-100 .input-autocomplete, .bg-greyblue-100 .input-select{
  background-color: var(--white);
}