.flatpacked{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 1s all;
  
}
.flatpacked.show{
  opacity: 1;
  max-height: 62px;
}
.flatpacked.show.expanded{
  max-height: 600px;
}
.flatpacked.show .grid{
  transform: translateX(0);
}
.flatpacked .grid{
  width: 100%;
  transform: translateX(100%);
  transition: 1s all;
}
.overview-img{
  max-width: 100%;
  padding-right: 16px;
  margin-bottom: 10px;
  align-self: baseline;
}
.expander{
  position: relative;
  transition: all 0.3s;
}
.expander .triangle{
  color: var(--white);
  position: absolute;
  right: 76px;
  top: 24px;
  width: 12px;
  height: 12px;
  display: block;
  opacity: 0;
  transform: translateY(-2px);
  transition: all 0.3s;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.65rem;
  transform-origin: center center;
}

.expander.expanded .triangle, .expander.expanded:hover .triangle{
  top: 24px;
  transform: translateY(0) rotate(-180deg);
  text-shadow: -1px 0px rgba(0, 0, 0, 0.2);
}
.expander:hover{
  background: var(--grey-300);
  cursor: pointer;
}
.expander:hover .triangle{
  opacity: 1;
  transform: translateY(2px);
}

.prod-contents{
  opacity: 0;
  max-height: 0;
  transition: all 0.9s;
  width: 100%;
}
.expander.expanded + .prod-contents{
  opacity: 1;
  max-height: 600px
}
.context-menu{
  z-index: 999;
  margin-top: -5px;
}

.o-product-row h4, .o-product-row h3{
  font-weight: var(--heavyweight);
  margin-bottom: 0.2em;
}