/* -- Icons
   –––––––– */

@define-mixin icon-bg $url, $color:var, $posx:center, $posy:center, $sizex:100%, $sizey:100%(--black){
  background-image: url("../../../img/$(url).svg" param(--color $color));
  background-repeat: no-repeat;
  background-position: $posx $posy;
  background-size: $sizex $sizey;
}

@define-mixin icon-fill $url, $color:#191e43{
  background-image: url("../../../img/$(url).svg" param(--color $color));
}
@define-mixin icon-stroke $url, $color:#191e43{
  background-image: url("../../../img/$(url).svg" param(--color $color));
  fill: transparent;
}

/*
@styleguide

@title Element
<h1 class="-upcase -lightweight">
Engine
</h1>
<p>The ideal is to have no Engine and just go completely vanila. But when you need things like svg icons, or other useful mixins you can define them here and build with postcss.</p>
*/