/* override/set vars here */
:root{
  /* sans typeface */
  --sans: 'Lato', sans-serif;

  /* colours (main HSL values) */
  --core-secondary: 148, 40%;
  --core-primary: 192, 56%;
  --core-highlight: 350, 98%;
}
html, body{
  background: #071c38 linear-gradient(45deg, #3a355d, #3a3f73);
}

body:before, body:after{
  content:'';
  position: fixed;
  width:100%;
  height:100%;
}

body:before{
  background: #8163A3;
  box-shadow: 0 0 45vw 45vh #8163A3;
  z-index: 2;
  top: -96%;
  left: -72%;
  opacity: 0.7;
  border-radius: 50em;
}
body:after {
  background: #194782;
  z-index: 3;
  bottom: -96%;
  right: -72%;
  box-shadow: 0 0 45vw 45vh #194782;
  opacity: 0.7;
  border-radius: 100%;
}
.background-container{
  margin-left: -18%;
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

h1{
  border-top: 1px solid #efefef;
  padding-top: 1.5em;
}
h1, h2, h3, h4, h5, h6{
  color: rgba(255, 255, 255, 0.72);
}
.logo-container{
  z-index: 9;
  padding: 2em;
  width: 180px;
  margin: auto;
  position: relative;
  top: -0.4em;
}
.logo-container img{
  width: 98px;
}
main{
	background: #fff;
	position: relative;
	z-index: 999;
}

main > div{
	width: 90vw;
  padding-top: 2em;
	max-width: 900px;
	margin: auto;
}
.nav{
  background: var(--grey-300);
  z-index: 9;
  font-size: 0.9rem;
  border-bottom: 6px solid var(--black);
}
.nav .flex .item{
  text-align: center;
  padding: 0;
  width: 20%;
}
.nav a{
  color: var(--black);
  text-decoration: none;
  display: block;
  padding: 6px;
  transition: 0.2s all;
  font-family: var(--sans);
  text-transform: uppercase;
  cursor: pointer;
}
.nav a:hover{color: var(--white);}
.nav li:nth-child(1) a:hover{ background: var(--black);}
.nav li:nth-child(2) a:hover{ background: var(--grey);}
.nav li:nth-child(3) a:hover{ background: var(--secondary);}
.nav li:nth-child(4) a:hover{ background: var(--primary);}
.nav li:nth-child(5) a:hover{ background: var(--highlight);}

.resting{
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.belmu{
  max-width: 268px;
  margin-bottom: 1.3em;
  margin-top: 2em;
  height: auto;
}

.colourbox-sample{
  width: 100%;
  height: 6px;
}
.colourbox-name{
  margin-top: 7px;
}

p strong{
  background: var(--secondary);
  padding: 2px 6px;
  color: var(--white);
  display: inline-block;
  margin-top: 2em;
}