.o-input-switch{
    display: block;
    height: 20px;
    margin-bottom: var(--spacing);
    position: relative;
    font-size: 0.875rem;
    cursor: pointer;
    font-weight: var(--heavyweight);
    color: var(--navy);
  }


  .o-input-switch .switcher{
    background: var(--white);
    box-shadow: 1px 0 3px var(--grey-900);
    color: var(--white);
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 1px;
    margin-top: -1px;
    z-index: 7;
  }

  .o-input-switch .switcher:before{
    line-height: 1.7;
    font-size: .7rem;
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .o-input-switch.disabled .switcher{
    background: var(--grey-100);
  }

  .o-input-switch.disabled .switcher:before{
    color: var(--grey-300);
  }

  .o-input-switch.disabled .switcher + .switch-label{
    color: var(--grey-300);
    cursor: not-allowed;
  }

  .o-input-switch .switch-base{
    display: block;
    position: absolute;
    left: 10px;
    width: 10px;
    height: 14px;
    background: var(--grey-300);
    transition: var(--transition-all);
  }

  .o-input-switch .switch-base:before{
    content: "";    
    width: 13px;
    height: 14px;
    position: absolute;
    top: 0px;
    border-width: 1px 1px 1px 0;
    background: var(--grey-300);
    border-radius: 50%;
    left: -8px;
    transition: var(--transition-all);
  }

  .o-input-switch .switch-base:after{
    content: "";
    width: 13px;
    height: 14px;
    position: absolute;
    top: 0px;
    right: -8px;
    border-width: 1px 1px 1px 0;
    background: var(--grey-300);
    border-radius: 50%;
    transition: var(--transition-all);
  }

  .o-input-switch input{
    border: none;
    position: absolute;
    height: 25px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: none;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
  }
  .o-input-switch input:before{
    display: none;
  }
  .o-input-switch input:checked + .switcher{
    left: 14px;
  }
  .o-input-switch input:checked + .switcher + .switch-base{
    background: var(--cyan);
  }
  .o-input-switch input:checked + .switcher + .switch-base:before, 
  .o-input-switch input:checked + .switcher + .switch-base:after{
    background: var(--cyan);
  }
  .o-input-switch input:checked + .switcher:before{
    color: $white;
  }

  .o-input-switch input:checked + .switcher + .switch-base + .switch-label{
    opacity: 1;
  }
  .o-input-switch input:disabled + .switcher{
    background: var(--grey-100);
  }
  .o-input-switch input:disabled + .switcher + .switch-base + .switch-label{
    cursor: not-allowed;
  }

  .o-input-switch .switch-label{
    float: left;
    margin-left: 35px;
    line-height: 1;
    color: var(--navy);
    opacity: .5;
    cursor: pointer;
    padding: 2px;
    font-weight: 600;
  }

/*
@styleguide
@title Switches

<div class="o-input-switch hidehelper">
  <input type="checkbox"> 
  <span class="switcher"></span>
  <span class="switch-base"></span>
  <label class="switch-label">A toggle switch</label> 
</div>
*/ 
 