/* -- Cards
   –––––––– */

/* Using this as a simple example as to how you might write css for a component */

.o-card{
  font-weight: var(--bookweight);
  padding: 2em;
  box-shadow: 1px 0px 4px #ccc;
  flex-direction: column;
}
.o-card .img{
  background: var(--grey-200);
  align-self: stretch;
  text-align: center;
  margin-bottom: 1em;
}
.o-card img{
  max-width: 100%;
  margin: auto;
  display: block;
}
.o-card h3{
  font-weight: var(--boldweight);
  margin-bottom: 0;
}
.o-card p{
  margin: 0;
}

/* Include html structure for your component below so that it can be seen in the styleguide */ 

/*
@styleguide
@title Cards

<div class="grid">
  <div class="col">
    <div class="o-card">
      <div class="img">
        <img src="http://via.placeholder.com/550x150" />
      </div>
      <h3>Hi There</h3>
      <p>this is my card</p>
    </div>
  </div>
  <div class="col">
    <div class="o-card">
      <div class="img">
        <img src="http://via.placeholder.com/550x150" />
      </div>
      <h3 class="h3">Hi There</h3>
      <p>this is my card</p>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col">
    <div class="o-card -p-all-half">
      <div class="img">
        <img src="http://via.placeholder.com/550x150" />
      </div>
      <h3>Hi There</h3>
      <p>this is my card</p>
    </div>
  </div>
  <div class="col">
    <div class="o-card -p-all-half">
      <div class="img">
        <img src="http://via.placeholder.com/550x150" />
      </div>
      <h3 class="h3">Hi There</h3>
      <p>this is my card</p>
    </div>
  </div>
</div>
*/ 
