/* -- Positioning
   –––––––––––––– */

.-pos-fixed, .-fixed{
  position: fixed;
}
.-pos-absolute{
  position: absolute;
} 
.-pos-relative{
  position: relative;
} 

/* POSITIONING HELPERS */
.-t-0, .-top-0{
  top: 0;
}
.-r-0, .-right-0{
  right: 0;
}
.-b-0, .-bottom-0{
  bottom: 0;
}
.-l-0, .-left-0{
  left: 0;
}

@each $direction in 
top,
right,
bottom,
left{
  .-$(direction)-half: calc( var(--spacing) * 0.5 );
  .-$(direction)-1: calc( var(--spacing) * 1 );
  .-$(direction)-2: calc( var(--spacing) * 2 );
  .-$(direction)-3: calc( var(--spacing) * 3 );
  .-$(direction)-4: calc( var(--spacing) * 4 );
  .-$(direction)-5: calc( var(--spacing) * 5 );
}
