/* -- BUTTON Sizes
   ––––––––––––––– */

.o-button.tiny{ 
  font-size: 0.8rem;
  padding: calc(var(--spacing) * 0.4) calc(var(--spacing) * 0.4) calc(var(--spacing) * 0.3);
}
.o-button.small{ 
  font-size: 0.95rem;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.4);
}
.o-button.medium{
  font-size: 1.2rem;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5);
}
.o-button.large{
  font-size: 1.5rem;
  padding: calc( var(--spacing) * 0.8) calc(var(--spacing) * 0.8) calc(var(--spacing) * 0.6);
}